.testimonials {
    text-align: center;
    padding-top: 5.2rem;
    padding-bottom: 5.2rem;

    @include for-tablet-portrait-up {
        padding-top: 14rem;
        padding-left: 5%;
        padding-right: 5%;
    }

    .testimonial-wrapper {
        @include for-tablet-portrait-up {
            display: flex;
        }
    }

    >h2 {
        font-size: 1.4rem;
        color: $darkGrayishBlue;
        text-transform: uppercase;
        letter-spacing: .5rem;
        margin-bottom: 3rem;
    }

    &__card {
        padding-top: 1.8rem;
        padding-bottom: 1.8rem;
        
        &:not(:last-child) {
            margin-bottom: 1.8rem;

            @include for-tablet-portrait-up {
                margin-bottom: 0;
            }
        }
        
        >img {
            width: 5.8rem;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 3rem;
            border-radius: 100px;
        }

        >p {
            font-size: 1.5rem;
            color: $veryDarkGrayishBlue;
            margin-bottom: 3rem;
        }

        >p:last-child {
            color: $grayishBlue;
        }

        >h2 {
            font-size: 1.8rem;
            color: $veryDarkDesaturatedBlue;
            margin-bottom: 1.1rem;
        }
    }
}