$black : #36454F;
$white : #fafafa;
$whitebg : #FFFBF8;

$yellow : hsl(51, 100%, 49%);
$lightYellow : hsl(51, 100%, 70%);
$red : hsl(7, 99%, 70%);
$lightRed : hsl(7, 99%, 90%);
$green : hsl(167, 40%, 24%);
$blue : hsl(198, 62%, 26%);

$veryDarkDesaturatedBlue: hsl(212, 27%, 19%);
$veryDarkGrayishBlue: hsl(213, 9%, 39%);
$darkGrayishBlue: hsl(232, 10%, 55%);
$grayishBlue: hsl(210, 4%, 67%);
$footerGreen: hsl(167, 44%, 70%);
